@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat' , sans-serif;
    max-width: 100vw;
    overflow-x: hidden; /*It is done so that our webpage doesn't have any HORIZONTAL scrolling*/
}